 body{
background-image: url("../images/principal/fondo.png");
 }
  @font-face
 
{
   font-family: "paloma";
   src: url("../fonts/La Paloma.ttf");
}
  @font-face
{
   font-family: "acumin";
   src: url("../fonts/Acumin Pro Cond ExtraLight.otf");
}
  @font-face
{
   font-family: "seguiemj";
   src: url("../fonts/seguiemj.ttf");
}
  @font-face
{
   font-family: "simplifica";
   src: url("../fonts/simplifica.ttf");
}
#tarjeta{
  width: 100%;
  height: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}
.transparente{
	background-color: transparent;
	border-color: transparent;
	color: transparent;
}
@media (max-width: 575.98px) { 

#content{
    width: 98%;
    height: auto;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

#im{
  width: 100%;
}

#textos{
  font-family: "acumin";
  font-size: 2vw;
  color: black;
}
.input_form{
  font-family: "acumin";
  font-size: 35px;
  width: 100%;
  margin-top: -5%;
  height: 38px;
  border-color: #626262;

}
.boton_enviar{
  float: right;
  height: 40px;
  width: 60%;
  font-family: "acumin";
  font-size: 1.5vw;
  margin-right: 2vw;
  background-color: #1c1c1c;
  color:white;
}
#mensaje{
  height: 160px;
  width: 100%;
  font-family: "acumin";
  font-size: 35px;
  background-color: white;
  border-color: #626262;
  border-style: solid;
      border:1px solid #626262;

}
#mensaje:focus .boton_enviar:focus{
    outline: none !important;
    border:1px solid #626262;
    box-shadow: 0 0 10px #719ECE;
}
/*fin formulario*/
#txt_globo{
    font-family: "acumin";
font-size: 2.5vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}
#marg{
  margin-top: 3%;
}
#icono_mapa{
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;

}

#direcciones{
  font-size: 1.8vw;
  font-family: "acumin";
}
#margen_comprar_ahora{
  margin-bottom: 1vw;
  background-image: url('../icons/FONDO.png');
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}
#margen{
  margin-bottom: 1vw;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {

#content{
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#im{
  width: 100%;
}

#textos{
  font-family: "acumin";
  font-size: 2vw;
  color: black;
}
.input_form{
  font-family: "acumin";
  font-size: 35px;
  width: 100%;
  margin-top: -5%;
  height: 38px;
  border-color: #626262;

}
.boton_enviar{
  float: right;
  height: 40px;
  width: 60%;
  font-family: "acumin";
  font-size: 1.5vw;
  margin-right: 2vw;
  background-color: #1c1c1c;
  color:white;
}
#mensaje{
  height: 160px;
  width: 100%;
  font-family: "acumin";
  font-size: 35px;
  background-color: white;
  border-color: #626262;
  border-style: solid;
      border:1px solid #626262;

}
#mensaje:focus .boton_enviar:focus{
    outline: none !important;
    border:1px solid #626262;
    box-shadow: 0 0 10px #719ECE;
}
/*fin formulario*/
#txt_globo{
    font-family: "acumin";
font-size: 2.5vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}
#marg{
  margin-top: 3%;
}
#icono_mapa{
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;

}

#direcciones{
  font-size: 1.8vw;
  font-family: "acumin";
}
#margen_comprar_ahora{
  margin-bottom: 1vw;
  background-image: url('../icons/FONDO.png');
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}
#margen{
  margin-bottom: 1vw;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}
}
 /*************************************************************************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {
#content{
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
#im{
  width: 100%;
}
#textos{
  font-family: "acumin";
  font-size: 2vw;
  color: black;
}
.input_form{
  font-family: "acumin";
  font-size: 35px;
  width: 100%;
  margin-top: -5%;
  height: 38px;
  border-color: #626262;

}
.boton_enviar{
  float: right;
  height: 40px;
  width: 60%;
  font-family: "acumin";
  font-size: 1.5vw;
  margin-right: 2vw;
  background-color: #1c1c1c;
  color:white;
}
#mensaje{
  height: 160px;
  width: 100%;
  font-family: "acumin";
  font-size: 35px;
  background-color: white;
  border-color: #626262;
  border-style: solid;
      border:1px solid #626262;

}
#mensaje:focus .boton_enviar:focus{
    outline: none !important;
    border:1px solid #626262;
    box-shadow: 0 0 10px #719ECE;
}
/*fin formulario*/
#txt_globo{
    font-family: "acumin";
font-size: 2.5vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}
#marg{
  margin-top: 3%;
}
#icono_mapa{
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;

}

#direcciones{
  font-size: 1.8vw;
  font-family: "acumin";
}
#margen_comprar_ahora{
  margin-bottom: 1vw;
  background-image: url('../icons/FONDO.png');
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}
#margen{
  margin-bottom: 1vw;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}
}
 /*************************************************************************************************************/

@media (min-width: 992px) and (max-width: 1199.98px) {

#content{
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
#im{
  width: 100%;
}

#margen{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}
/*fin margen*/
/*formulario*/
#textos{
  font-family: "acumin";
  font-size: 2vw;
  color: black;
}
.input_form{
  font-family: "acumin";
  font-size: 35px;
  width: 100%;
  margin-top: -5%;
  height: 38px;
  border-color: #626262;

}
.boton_enviar{
  float: right;
  height: 40px;
  width: 60%;
  font-family: "acumin";
  font-size: 1.5vw;
  margin-right: 2vw;
  background-color: #1c1c1c;
  color:white;
}
#mensaje{
  height: 160px;
  width: 100%;
  font-family: "acumin";
  font-size: 35px;
  background-color: white;
  border-color: #626262;
  border-style: solid;
      border:1px solid #626262;

}
#mensaje:focus .boton_enviar:focus{
    outline: none !important;
    border:1px solid #626262;
    box-shadow: 0 0 10px #719ECE;
}
/*fin formulario*/
#txt_globo{
    font-family: "acumin";
font-size: 2.5vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}
#marg{
  margin-top: 3%;
}
#icono_mapa{
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;

}

#direcciones{
  font-size: 1.5vw;
  font-family: "acumin";
}
#margen_comprar_ahora{
  margin-bottom: 1vw;
  background-image: url('../icons/FONDO.png');
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}
#margen{
  margin-bottom: 1vw;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}
}
 /*************************************************************************************************************/

@media (min-width: 1200px) and (max-width: 1500px) {

#content{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#im{
  width: 100%;
}


#margen{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}
/*fin margen*/
/*formulario*/
#textos{
  font-family: "acumin";
  font-size: 35px;
  color: black;
}
.input_form{
  font-family: "acumin";
  font-size: 35px;
  width: 100%;
  margin-top: -5%;
  height: 38px;
  border-color: #626262;

}
.boton_enviar{
  float: right;
  height: 40px;
  width: 60%;
  font-family: "acumin";
  font-size: 1.5vw;
  margin-right: 2vw;
  background-color: #1c1c1c;
  color:white;
}
#mensaje{
  height: 160px;
  width: 100%;
  font-family: "acumin";
  font-size: 35px;
  background-color: white;
  border-color: #626262;
  border-style: solid;
      border:1px solid #626262;

}
#mensaje:focus .boton_enviar:focus{
    outline: none !important;
    border:1px solid #626262;
    box-shadow: 0 0 10px #719ECE;
}
/*fin formulario*/
#txt_globo{
    font-family: "acumin";
font-size: 2.5vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}
#marg{
  margin-top: 3%;
}
#icono_mapa{
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;

}

#borrar_direccion{
  width:190%;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  vertical-align: middle;
}
#direcciones{
  font-size: 1.3vw;
  font-family: "acumin";
}
#margen_comprar_ahora{
  margin-bottom: 1vw;
  background-image: url('../icons/FONDO.png');
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}
#margen{
  margin-bottom: 1vw;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}
}
/*Extra large devices (large desktops, 1200px and up)*******************************************************************/
@media (min-width: 1501px) { 

#content{
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

#im{
  width: 100%;
}

#margen{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}
/*fin margen*/
/*formulario*/
#textos{
  font-family: "acumin";
  font-size: 35px;
  color: black;
}
.input_form{
  font-family: "acumin";
  font-size: 35px;
  width: 100%;
  margin-top: -5%;
  height: 38px;
  border-color: #626262;

}
.boton_enviar{
  float: right;
  height: 50px;
  width: 60%;
  font-family: "acumin";
  font-size: 1.5vw;
  margin-right: 2vw;
  margin-top: 1.2vw;
  background-color: #1c1c1c;
  color:white;
}
#mensaje{
  height: 160px;
  width: 100%;
  font-family: "acumin";
  font-size: 35px;
  background-color: white;
  border-color: #626262;
  border-style: solid;
      border:1px solid #626262;

}
#mensaje:focus .boton_enviar:focus{
    outline: none !important;
    border:1px solid #626262;
    box-shadow: 0 0 10px #719ECE;
}
/*fin formulario*/
#txt_globo{
    font-family: "acumin";
font-size: 2.5vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}
#marg{
  margin-top: 3%;
}
#icono_mapa{
	width: 50%;
	margin-left: 20%;
	margin-right: 20%;
	height: auto;
	padding-top: 1vw;
	padding-bottom: 1vw;

}

#borrar_direccion{
	width:190%;
	margin-left: 20%;
	margin-right: 20%;
	height: auto;
	vertical-align: middle;
}
#direcciones{
	font-size: 1.3vw;
	font-family: "acumin";
}
#margen_comprar_ahora{
	margin-bottom: 1vw;
	background-image: url('../icons/FONDO.png');
	width: 80%;
	margin-left: 10%;
	border-radius: 10px;
}
#margen{
	margin-bottom: 1vw;
	width: 80%;
	margin-left: 10%;
	border-radius: 10px;
}
}
