 body{
background-image: url("../images/principal/fondo.png");
 }
  @font-face
 
{
   font-family: "paloma";
   src: url("../fonts/La Paloma.ttf");
}
  @font-face
{
   font-family: "acumin";
   src: url("../fonts/Acumin Pro Cond ExtraLight.otf");
}
  @font-face
{
   font-family: "seguiemj";
   src: url("../fonts/seguiemj.ttf");
}
  @font-face
{
   font-family: "simplifica";
   src: url("../fonts/simplifica.ttf");
}
#tarjeta{
  width: 100%;
  height: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}
.transparente{
	background-color: transparent;
	border-color: transparent;
	color: transparent;
  height: 1px;
}
@media (max-width: 575.98px) { 

#content{
    width: 98%;
    height: auto;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

#im{
  width: 100%;
}

#txt{
font-family: "acumin";
font-size: 4.5vw;
margin-bottom: 1%;
}
#txt_tipo1{
font-family: "acumin";
font-size: 5vw;
margin-bottom: 1%;
color:#0d0d0d;
background-color: #F1F1F1;
width:90%; 
border-style: solid;
border-color: #F1F1F1;
border-width: 2px;
}
#txt_tipo{
font-family: "acumin";
font-size: 5vw;
margin-bottom: 1%;
color:#0d0d0d;
width:90%; 
background-color: white;
  border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#txt_subtitulos{
  font-family: "seguiemj";
  font-size: 3.6vw;
}
#txt_subtitulo2{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 3.2vw;
}
#txt_subtitulo3{
  font-family: "seguiemj";
  font-size: 3vw;
  color:#0d0d0d;
}
#campos_input{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 4vw;
  width: 100%;
  height: 6.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#select_month{
   font-family: "acumin";
  color:#0d0d0d;
  font-size: 4vw;
  width: 100%;
  height: 6.2vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago{
  background-color: #0d0d0d;
  color: white;
  font-size: 5vw;
  font-family: "acumin";
  width:100%;
 height: 7.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago1{
  background-color: #0d0d0d;
  color: white;
  font-family: "acumin";
  font-size: 4vw; 
  width:100%;
 height: 7vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago2{
  background-color: white;
  color: #0d0d0d;
  font-size: 5vw;
  font-family: "acumin";
  width: 100%;
height: 7.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;

}
#boton_pago3{
  background-color: white;
  color: #0d0d0d;
  margin-top: 2vw;
  font-size: 4vw;
  font-family: "acumin";
  width:100%;
 height: 7vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#tarjeta_regalo{
  width: 80%;
  height: auto;
  margin-top:6%;
  margin-left: 10%;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}

#margen{
  margin-bottom: 1vw;
  width: 98%;
  margin-left: 1%;
  border-radius: 5px;
}
#im_num{
  width: 5%;
  margin-top:-1%;
}
.input_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  border-color: #626262;
}
#boton_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  color: white;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
#marg_fecha{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {

#content{
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#im{
  width: 100%;
}

#txt{
font-family: "acumin";
font-size: 3.3vw;
margin-bottom: 1%;
}
#txt_tipo1{
font-family: "acumin";
font-size: 3.5vw;
margin-bottom: 1%;
background-color: #F1F1F1;
float:right;
width:80%; 
color: #0d0d0d; 

border-style: solid;
border-color: #F1F1F1;
border-width: 2px;
}
#txt_tipo{
font-family: "acumin";
font-size: 3.5vw;
margin-bottom: 1%;
float:left;
color: #0d0d0d; 
width:80%; 
background-color: white;
  border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#txt_subtitulos{
  font-family: "seguiemj";
  font-size: 2.5vw;
}
#txt_subtitulo2{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 2.6vw;
}
#txt_subtitulo3{
  font-family: "seguiemj";
  font-size: 1.7vw;
  color:#0d0d0d;
}
#campos_input{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 3vw;
  width: 100%;
  height: 5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#select_month{
   font-family: "acumin";
  color:#0d0d0d;
  font-size: 3vw;
  width: 100%;
  height: 5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago{
  background-color: #0d0d0d;
  color: white;
  font-size: 3vw;
  font-family: "acumin";
  width:122%;
 height: 5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago1{
  background-color: #0d0d0d;
  color: white;
  font-size: 3vw;
  font-family: "acumin";
  width:100%;
 height: 5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago2{
  background-color: white;
  color: #0d0d0d;
  font-size: 3vw;
  font-family: "acumin";
  width: 80%;
height: 5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;

}
#boton_pago3{
  background-color: #0d0d0d;
  color: white;
  font-size: 3vw;
  font-family: "acumin";
  width: 100%;
  height: 5vw;
  border-style: solid;
  border-color: #0d0d0d;
  border-width: 2px;
  margin-top: 1vw;
}
#tarjeta_regalo{
  width: 100%;
  height: auto;
  margin-top: 1vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}

#margen{
  margin-bottom: 1vw;
  width: 95%;
  margin-left: 2.5%;
  border-radius: 5px;
}
#im_num{
  width: 5%;
  margin-top:-1%;
}
.input_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  border-color: #626262;
}
#boton_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  color: white;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
#marg_fecha{
  width: 100%;

}
}
 /*************************************************************************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {
#content{
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
#im{
  width: 100%;
}

#txt{
font-family: "acumin";
font-size: 3vw;
margin-bottom: 1%;
}
#txt_tipo1{
font-family: "acumin";
font-size: 2.8vw;
margin-bottom: 1%;
background-color: #F1F1F1;
float:right;
width:80%; 
color: #0d0d0d; 

border-style: solid;
border-color: #F1F1F1;
border-width: 2px;
}
#txt_tipo{
font-family: "acumin";
font-size: 2.8vw;
margin-bottom: 1%;
float:left;
color: #0d0d0d; 
width:80%; 
background-color: white;
  border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#txt_subtitulos{
  font-family: "seguiemj";
  font-size: 2.2vw;
}
#txt_subtitulo2{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 2vw;
}
#txt_subtitulo3{
  font-family: "seguiemj";
  font-size: 1.7vw;
  color:#0d0d0d;
}
#campos_input{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 2.2vw;
  width: 100%;
  height: 3.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#select_month{
   font-family: "acumin";
  color:#0d0d0d;
  font-size: 2.2vw;
  width: 100%;
  height: 3.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago{
  background-color: #0d0d0d;
  color: white;
  font-size: 2vw;
  font-family: "acumin";
  width:100%;
 height: 4vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago1{
  background-color: #0d0d0d;
  color: white;
  font-size: 2.2vw;
  font-family: "acumin";
  width:130%;
 height: 3.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago2{
  background-color: white;
  color: #0d0d0d;
  font-size: 2vw;
  font-family: "acumin";
  width: 100%;
height: 4vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;

}
#boton_pago3{
  background-color: #0d0d0d;
  color: white;
  font-size: 2.2vw;
  font-family: "acumin";
  width: 29%;
  height: 3.5vw;
  border-style: solid;
  border-color: #0d0d0d;
  border-width: 2px;
}
#tarjeta_regalo{
  width: 100%;
  height: auto;
  margin-top: -1vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}

#margen{
  margin-bottom: 1vw;
  width: 90%;
  margin-left: 3%;
  border-radius: 5px;
}
#im_num{
  width: 4%;
  margin-top:-1%;
}
.input_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  border-color: #626262;
}
#boton_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  color: white;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
#marg_fecha{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
}
 /*************************************************************************************************************/

@media (min-width: 992px) and (max-width: 1199.98px) {

#content{
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
#im{
  width: 100%;
}

#txt{
font-family: "acumin";
font-size: 2.5vw;
margin-bottom: 1%;
}
#txt_tipo1{
font-family: "acumin";
font-size: 2.2vw;
margin-bottom: 1%;
background-color: #F1F1F1;
width:80%; 
color:#0d0d0d;
border-style: solid;
border-color: #F1F1F1;
border-width: 2px;
}
#txt_tipo{
font-family: "acumin";
font-size: 2.2vw;
margin-bottom: 1%;
width:80%; 
color:#0d0d0d;
background-color: white;
  border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#txt_subtitulos{
  font-family: "seguiemj";
  font-size: 1.8vw;
}
#txt_subtitulo2{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.4vw;
}
#txt_subtitulo3{
  font-family: "seguiemj";
  font-size: 1.2vw;
  color:#0d0d0d;
}
#campos_input{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.2vw;
  width: 100%;
  height: 2.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#select_month{
   font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.2vw;
  width: 100%;
  height: 2.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.7vw;
  font-family: "acumin";
  width: 140%;
 height: 3.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago1{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width:130%;
height: 2.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago2{
  background-color: white;
  color: #0d0d0d;
  font-size: 1.7vw;
  font-family: "acumin";
  width: 80%;
height: 3.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;

}
#boton_pago3{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width: 60%;
  height: 2.5vw;
  margin-right: -3vw;
  border-style: solid;
  border-color: #0d0d0d;
  border-width: 2px;
  float: right;
   margin-top: 6.5vw;

}
#tarjeta_regalo{
  width: 100%;
  height: auto;
  margin-top: 3.2vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}

#margen{
  margin-bottom: 1vw;
  width: 98%;
  margin-left: 1%;
  border-radius: 5px;
}
#im_num{
  width: 4%;
  margin-top:-1%;
}
.input_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  border-color: #626262;
}
#boton_form{
  font-family: "acumin";
  font-size: 20px;
  width: 100%;
  height: 33px;
  color: white;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
#marg_fecha{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
}
 /*************************************************************************************************************/

@media (min-width: 1200px) and (max-width: 1500px) {

#content{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#im{
  width: 100%;
}

#txt{
font-family: "acumin";
font-size: 2.5vw;
margin-bottom: 1%;
}
#txt_tipo1{
font-family: "acumin";
font-size: 2.2vw;
margin-bottom: 1%;
background-color: #F1F1F1;
width:80%; 
color:#0d0d0d;
border-style: solid;
border-color: #F1F1F1;
border-width: 2px;
}
#txt_tipo{
font-family: "acumin";
font-size: 2.2vw;
margin-bottom: 1%;
width:80%; 
color:#0d0d0d;
background-color: white;
  border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#txt_subtitulos{
  font-family: "seguiemj";
  font-size: 1.8vw;
}
#txt_subtitulo2{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.4vw;
}
#txt_subtitulo3{
  font-family: "seguiemj";
  font-size: 1.2vw;
  color:#0d0d0d;
}
#campos_input{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.2vw;
  width: 100%;
  height: 2.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#select_month{
   font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.2vw;
  width: 100%;
  height: 2.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width: 100%;
 height: 2.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago1{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width:130%;
height: 2.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago2{
  background-color: white;
  color: #0d0d0d;
  font-size: 1.2vw;
  font-family: "acumin";
  width: 100%;
height: 2.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;

}
#boton_pago3{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width: 60%;
  height: 2.5vw;
  margin-right: -3vw;
  border-style: solid;
  border-color: #0d0d0d;
  border-width: 2px;
  float: right;
   margin-top: 6vw;

}
#tarjeta_regalo{
  width: 100%;
  height: auto;
  margin-top: 3.3vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}

#margen{
  margin-bottom: 1vw;
  width: 90%;
  margin-left: 3%;
  border-radius: 5px;
}
#im_num{
  width: 4%;
  margin-top:-1%;
}
.input_form{
  font-family: "acumin";
  font-size: 23px;
  width: 100%;
  height: 38px;
  border-color: #626262;
}
#boton_form{
  font-family: "acumin";
  font-size: 23px;
  width: 100%;
  height: 38px;
  color: white;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
#marg_fecha{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
}
/*Extra large devices (large desktops, 1200px and up)*******************************************************************/
@media (min-width: 1501px) { 

#content{
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

#im{
  width: 100%;
}


#txt{
font-family: "acumin";
font-size: 2.5vw;
margin-bottom: 1%;
}
#txt_tipo1{
font-family: "acumin";
font-size: 2.2vw;
margin-bottom: 1%;
background-color: #F1F1F1;
width:80%; 
color:#0d0d0d;
border-style: solid;
border-color: #F1F1F1;
border-width: 2px;
}
#txt_tipo{
font-family: "acumin";
font-size: 2.2vw;
margin-bottom: 1%;
width:80%; 
color:#0d0d0d;
background-color: white;
  border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#txt_subtitulos{
  font-family: "seguiemj";
  font-size: 1.8vw;
}
#txt_subtitulo2{
  font-family: "acumin";
  color:black;
  font-size: 1.2vw;
}
#txt_subtitulo3{
  font-family: "seguiemj";
  font-size: 1.2vw;
  color:#0d0d0d;
}
#campos_input{
  font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.2vw;
  width: 100%;
  height: 2.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#select_month{
   font-family: "acumin";
  color:#0d0d0d;
  font-size: 1.2vw;
  width: 100%;
  height: 2.5vw;
   border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width: 100%;
 height: 2.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago1{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width:130%;
height: 2.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;
}
#boton_pago2{
  background-color: white;
  color: #0d0d0d;
  font-size: 1.2vw;
  font-family: "acumin";
  width: 100%;
height: 2.5vw;
     border-style: solid;
border-color: #0d0d0d;
 border-width: 2px;

}
#boton_pago3{
  background-color: #0d0d0d;
  color: white;
  font-size: 1.2vw;
  font-family: "acumin";
  width: 80%;
  height: 2.5vw;
  margin-right: -6vw;
  border-style: solid;
  border-color: #0d0d0d;
  border-width: 2px;
  float: right;
  margin-top: 5.4vw;

}
#tarjeta_regalo{
  width: 150%;
  height: auto;
  margin-top: 1.9vw;
}
hr{
  margin-top: -1%;
border: 1px solid #202020;
}

#margen{
	margin-bottom: 1vw;
	width: 80%;
	margin-left: 10%;
	border-radius: 10px;
}
#im_num{
  width: 4%;
  margin-top:-1%;
}
.input_form{
  font-family: "acumin";
  font-size: 23px;
  width: 100%;
  height: 38px;
  border-color: #626262;
}
#boton_form{
  font-family: "acumin";
  font-size: 23px;
  width: 100%;
  height: 38px;
  color: white;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
#marg_fecha{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
}
a:link{
  text-decoration: none;
}